<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kymjs.kjframe"
    android:versionCode="223"
    android:versionName="2.239" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true" />

</manifest>
