<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.kymjs.kjframe.demo"
          xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
		android:name="org.kymjs.kjframe.demo.AppContext"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/Theme.AppCompat">
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name"
			android:theme="@style/Theme.AppCompat">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name="org.kymjs.kjframe.demo.HttpActivity"/>
		<activity android:name="org.kymjs.kjframe.demo.BitmapActivity"/>
		<activity android:name="org.kymjs.kjframe.demo.DBActivity"/>
		<activity android:name="org.kymjs.kjframe.demo.WidgetActivity"/>
		<activity android:name="org.kymjs.kjframe.demo.widget.KJSlidingMenuDemo"/>
	</application>

</manifest>